.thumbnail{
  width:100%;
}
.video-title{
  margin-top:0;
  font-size:14px;
  font-weight:500;
  line-height:20px;
  margin-bottom:10px;
}
.video-info-grid{
  display:grid;
  grid-template-columns:50px 1fr;
}
.profile-picture{
  width:36px;
  border-radius:50px;
}
.thumbnail-row{
  margin-bottom:8px;
  position:relative;
}
.channel-name,
.video-stats{
  font-size:12px;
  color:rgb(96,96,96);
}
.channel-name{
  margin-bottom:4px;
}
.video-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr ;
  column-gap:16px;
  row-gap:40px;
}
.video-time{
  font-size:12px;
  font-weight:500;
  padding:4px;
  border-radius:2px;
  background-color:black;
  color:white;
  position:absolute;
  bottom:8px;
  right:5px;
}
@media (max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.thumbnail-row,
.channel-picture,
.video-title,
.channel-name{
  cursor:pointer;
}